<div class="sheet-modal sheet-modal-top" style="height:20em">
  <div class="toolbar toolbar-bottom">
    <div class="toolbar-inner">
      <div class="left"><a class="link sheet-close" href="#" id="cancelCatalogView">Cancel</a></div>
      <div class="center">Add Game to Catalog</div>
      <div class="right"><a href="#" id="addToCatalog">Done</a></div>
    </div>
  </div>
  <div class="sheet-modal-inner">
   <div class="page-content">
      <div class="list inset">
        <ul id="user-catalog-list" style="margin-bottom: 2em"></ul>
      </div>
  </div>
</div>
</div>
