<div class="popup demo-popup-swipe-handler">
  <div class="page">
    <div class="swipe-handler"></div>
    <div class="page-content">
      <div class="block-title block-title-large">Welcome To GameHub!</div>
      <div class="block block-strong">
        <h2>GameHub allows many users around the world to discover information about popular games for free! You can also write reviews for games and read the reviews of others!</h2>
        <br>
        <h2>We offer you a wide range of games!</h2>
        <h2><img width="100%" style="border-radius:10px" src="./assets/introduction-images/all-games.png"></h2>
        <h2>Read interesting facts about the games!</h2>
        <h2><img width="100%" style="border-radius:10px" src="./assets/introduction-images/games.png"></h2>
        <h2>Anyone can add unlimited new games, which can then be rated by other users!</h2>
        <h2><img width="100%" style="border-radius:10px" src="./assets/introduction-images/create-games.png"></h2>
        <h2>Catalogs! - Add games to Catalogs, for example to collect your favorite games!</h2>
        <h2><img width="100%" style="border-radius:10px" src="./assets/introduction-images/your-catalogs.png"></h2>
        <h2>Just create as many catalogs as you want!</h2>
        <h2><img width="100%" style="border-radius:10px" src="./assets/introduction-images/create-catalog.png"></h2>
        <h2>Write your own review of all games!</h2>
        <h2><img width="100%" style="border-radius:10px" src="./assets/introduction-images/write-review.png"></h2>
        <h2>Read the reviews of other users! And rate them!</h2>
        <h2><img width="100%" style="border-radius:10px" src="./assets/introduction-images/read-user-reviews.png"></h2>
        <h2>iOS users can easily add the application to their home screen as a web application! </h2>
        <h2><img width="100%" style="border-radius:10px" src="./assets/introduction-images/add-to-homescreen.png"></h2>
      </div>
    </div>
  </div>
</div>
