<div class="popup popup-login">
  <div class="page no-navbar no-toolbar no-swipeback">
    <div class="page-content login-screen-content">
      <div class="login-screen-title">GameHub</div>
      <form id="login-form">
        <div class="list">
          <ul>
            <li class="item-content item-input">
              <div class="item-inner">
                <div class="item-title item-label">E-Mail</div>
                <div class="item-input">
                  <input type="text" name="email" placeholder="Your E-Mail address">
                </div>
              </div>
            </li>
            <li class="item-content item-input">
              <div class="item-inner">
                <div class="item-title item-label">Password</div>
                <div class="item-input">
                  <input type="password" name="password" placeholder="Your password">
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="list">
          <ul>
            <li><a href="#" class="item-link list-button" name="login-login-button">Login</a></li>
            <li><a href="#" class="item-link list-button" name="login-register-button">Register New Account</a></li>
          </ul>
          <div class="block-footer" id="login-error-text"></div>
        </div>
      </form>
    </div>
  </div>
</div>
