<div class="popup popup-register">
  <div class="page no-navbar no-toolbar no-swipeback">
    <div class="page-content login-screen-content">
      <div class="login-screen-title">GameHub</div>
      <form id="register-form">
        <div class="list">
          <ul>
            <li class="item-content item-input">
              <div class="item-inner">
                <div class="item-title item-label">E-Mail</div>
                <div class="item-input">
                  <input type="text" name="email" placeholder="Your E-Mail address">
                </div>
              </div>
            </li>
            <li class="item-content item-input">
              <div class="item-inner">
                <div class="item-title item-label">Password</div>
                <div class="item-input">
                  <input type="password" name="password" placeholder="Your password">
                </div>
              </div>
            </li>
            <li class="item-content item-input">
              <div class="item-inner">
                <div class="item-title item-label">Password</div>
                <div class="item-input">
                  <input type="password" name="passwordConfirmation" placeholder="Type in password again">
                </div>
              </div>
            </li>
            <li class="item-content item-input">
              <div class="item-inner">
                <div class="item-title item-label">Name</div>
                <div class="item-input">
                  <input type="text" name="name" placeholder="Type in a name">
                </div>
              </div>
            </li>
            <li>
              <div class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">Who are you?</div>
                  <div class="item-input-wrap">
                    <select name="role">
                      <option value="gamer" selected>Gamer</option>
                      <option value="developer">Developer</option>
                      <option value="others">Others</option>
                    </select>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="list">
          <ul>
            <li><a href="#" class="item-link list-button" name="register-register-button">Register</a></li>
            <li><a href="#" class="item-link list-button" name="register-login-button">Back to Login</a></li>
          </ul>
          <div class="block-footer" id="register-error-text"></div>
        </div>
      </form>
    </div>
  </div>
</div>
