<div class="sheet-modal sheet-modal-bottom" style="height:auto; max-height: 50em; overflow:scroll;">
  <div class="sheet-modal-inner">
    <div class="page-content">
      <div class="block">
        <b>
          <div id="reviewTitle" style="font-size: 1.5em; text-align: center; margin-Bottom: 0.5em" class="block"></div>
        </b>
        <div class="row">
          <div class="col-50" style="text-align: center;">
            <b id="gameTitle"></b>
            <br>
            <div style="margin-top: 1em;" class="stepper stepper-raised stepper-init">
              <div class="stepper-button-minus"></div>
              <div class="stepper-input-wrap">
                <input id="displayed-text" type="text" readonly>
              </div>
              <div class="stepper-button-plus"></div>
            </div>
          </div>
          <div class="col-50" style="text-align: center;">
            <b id="author"></b>
            <br>
            <div style="margin-top:1em" class="chip color-green">
              <div class="chip-label"><b id="role"></b></div>
            </div>
            <div style="margin-top:1em" class="chip color-red">
              <div class="chip-label"><b id="ranking"></b></div>
            </div>
          </div>
        </div>
        <br>
        <p id="description"></p>
        <br>
      </div>
    </div>
  </div>
</div>
