<div class="page">
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner sliding">
      <div class="left">
        <a class="link back">
          <i class="icon icon-back"></i>
          <span class="if-not-md">Back</span>
        </a>
      </div>
      <div class="title">Settings</div>
    </div>
  </div>
  <div class="page-content">
    <div class="list inset">
      <ul>
        <li>
          <div class="item-content">
            <div class="item-inner">
              <div class="item-title" id="username">Edit user name</div>
              <div class="item-after">
                <a class="link" id="editName">
                  <i class="f7-icons">pencil_circle_fill</i>
                </a>
              </div>
            </div>
          </div>
        </li>
        <li>
        <div class="item-content">
          <div class="item-inner">
            <div class="item-title">Dark Mode</div>
            <div class="item-after">
              <label class="toggle toggle-init" id="darkmodeToggle">
                <input type="checkbox">
                <span class="toggle-icon"></span>
              </label>
            </div>
          </div>
        </div>
      </li>
      <li>
        </li>
        <li class="accordion-item"><a href="#" class="item-content item-link">
            <div class="item-inner">
              <div class="item-title" id="role"></div>
            </div>
          </a>
          <div class="accordion-item-content">
            <div class="block">
              <p>gamer</p>
            </div>
            <div class="block">
              <p>developer</p>
            </div>
            <div class="block">
              <p>others</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
